

<div class="topImg">
  <dev id="logo">
    <p>もっと手軽に様々な形式へ</p>
    <%= image_tag 'topLogo.png' %>
    <label class="btn btn-primary">
      YMLファイルからを履歴書にエクスポートする
      <input type="file" style="display:none">
      <%= form_tag 'home/receiveFile',:id=>'yamlFile', :multipart =>true do %>
        <%= file_field_tag :uppic, :size => 100, :onchange => 'submmit()'%></label>
      <% end %>

    </label>
  </dev>
  <%= image_tag 'top.jpg' %>

  <i class="fa fa-youtube" ></i>
</div>


</div>

<script>
function submmit(){
  document.getElementById('yamlFile').submit()
}
</script>
