

<div class="topImg">
  <dev id="logo">
    <p>もっと手軽に様々な形式へ</p>
    <img src="./logo-4.png"/>
    <label class="btn btn-primary">
      YMLファイルからを履歴書にエクスポートする
      <input type="file" style="display:none">
    </label>
  </dev>
  <img src="./top.jpg" />

  <i class="fa fa-youtube" ></i>
</div>


</div>
